<header>
    <div class="navbar">
        <nav>
            <ul>
                <li><a href="methodology.html" class="nav-active">Methodology</a></li>
                <li class="dropdown">
                    <a href="#"> Case Studies : Whole building </a>
                    <ul class="dropdown-menu">
                        <li><a href="Faraday_building.html">Faraday</a></li>
                        <li><a href="Firmenich_building.html">Firmenich</a></li>
                        <li><a href="Hobelwerk_building.html">Hobelwerk</a></li>
                        <li><a href="K118_building.html">K118</a></li>
                        <li><a href="Denens_building.html">Denens</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">Case Studies : building parts </a>
                    <ul class="dropdown-menu">
                        <li><a href="Elys_building.html">Elys</a></li>
                    </ul>
                </li>
                <li><a href="#meta-analysis">Meta-analysis</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </nav>
    </div>
</header>