<header>
    <div class="navbar">
        <nav>
            <ul>
                <li><a href="methodology.html">Methodology</a></li>
                <li class="dropdown">
                    <a href=#case-studies" class="nav-active">Case Studies</a>
                    <ul class="dropdown-menu">
{case_studies}
                    </ul>
                </li>
                <li><a href="#meta-analysis">Meta-analysis</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </nav>
    </div>
</header>