<header>
    <div class="navbar">
        <nav>
            <ul>
                <li><a href="html_pages\methodology.html" class="nav-active">Methodology</a></li>
                <li class="dropdown">
                    <a href="#">Case Studies</a>
                    <ul class="dropdown-menu">
                        <li><a href="html\Elys_building.html">Elys</a></li>
                        <li><a href="html\Faraday_building.html">Faraday</a></li>
                        <li><a href="html\Firmenich_builing.html">Firmenich</a></li>
                        <li><a href="html\Hobelwerk_building.html">Hobelwerk</a></li>
                        <li><a href="html\K118_building.html">K118</a></li>
                    </ul>
                </li>
                <li><a href="#meta-analysis">Meta-analysis</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </nav>
    </div>
</header>